<ng-template #quantity let-row let-group="group">
  <nz-input-number
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-0'"
    nz-input-number-focusly
    class="cell-input num"
    [focuslyGroup]="1"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="0"
    [(ngModel)]="row.qty"
  />
</ng-template>

<ng-template #buySell let-row let-group="group">
  <nz-select
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-1'"
    nz-select-focusly
    class="cell-input"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="1"
    [(ngModel)]="row.side"
  >
    <nz-option nzLabel="Buy" nzValue="Buy"></nz-option>
    <nz-option nzLabel="Sell" nzValue="Sell"></nz-option>
  </nz-select>
</ng-template>

<ng-template #tradeDate let-row let-group="group">
  <nz-date-picker
    focusly
    class="cell-input"
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-4'"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="4"
    nzFormat="yyyy-MM-dd"
    nzPlaceHolder="Trade date"
  ></nz-date-picker>
</ng-template>

<ng-template #urgency let-row let-group="group">
  <nz-radio-group
    focusly
    class="cell-input"
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-5'"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="5"
    [(ngModel)]="row.urgency"
    nzButtonStyle="solid"
  >
    <label nz-radio-button nzValue="Low">Low</label>
    <label nz-radio-button nzValue="Medium">Med</label>
    <label nz-radio-button nzValue="High">High</label>
  </nz-radio-group>
</ng-template>

<ng-template #rating let-row let-group="group">
  <nz-slider
    focusly
    class="cell-slider"
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-6'"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="6"
    [(ngModel)]="row.rating"
    [nzMin]="0"
    [nzMax]="100"
    [nzStep]="5"
    [nzTooltipVisible]="'default'"
  ></nz-slider>
</ng-template>

<ng-template #action let-row let-group="group">
  <button
    nz-button
    nzType="default"
    nzSize="small"
    focusly
    class="cell-action-btn"
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-7'"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="7"
  >
    Amend
  </button>
</ng-template>

<app-base-component [buyOrSellTemplate]="buySell" [quantityTemplate]="quantity">
</app-base-component>
<app-base-full-component [buyOrSellTemplate]="buySell" 
    [quantityTemplate]="quantity" 
    [tradeDateTemplate]="tradeDate" 
    [urgencyTemplate]="urgency" 
    [ratingTemplate]="rating"
    [actionTemplate]="action">
</app-base-full-component>