<ng-template #quantity let-row let-group="group">
  <nz-input-number
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-0'"
    nz-input-number-focusly
    class="cell-input num"
    type="number"
    [focuslyGroup]="1"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="0"
    [(ngModel)]="row.qty"
  />
</ng-template>

<ng-template #nzSide let-row let-group="group">
  <nz-select
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-1'"
    nz-select-focusly
    class="cell-input"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="1"
    [(ngModel)]="row.side"
  >
    <nz-option nzLabel="Buy" nzValue="Buy"></nz-option>
    <nz-option nzLabel="Sell" nzValue="Sell"></nz-option>
  </nz-select>
</ng-template>

<app-base-component [buyOrSellTemplate]="nzSide" [quantityTemplate]="quantity">
</app-base-component>
