<ng-template #quantity let-row let-group="group">
  <input
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-0'"
    focusly
    class="cell-input num"
    type="number"
    [focuslyGroup]="1"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="0"
    [value]="row.qty"
  />
</ng-template>

<ng-template #buySell let-row let-group="group">
  <select
    [attr.data-test-id]="'grid-cell-' + row.rowIndex + '-1'"
    focusly
    class="cell-input"
    [focuslyGroup]="group"
    [focuslyRow]="row.rowIndex"
    [focuslyColumn]="1"
  >
    <option [selected]="row.side === 'Buy'">Buy</option>
    <option [selected]="row.side === 'Sell'">Sell</option>
  </select>
</ng-template>

<app-base-component [buyOrSellTemplate]="buySell" [quantityTemplate]="quantity">
</app-base-component>
